<a href="https://colab.research.google.com/github/diwakar-py/python-w3school/blob/main/Python_W3School.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello, Data Scientist')

Hello, Data Scientist

In [ ]:
import sys
print(sys.version) # To check the Version

3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]

In [ ]:
# Indentation
x = 10
if x < 15 :
  print('x is less than 15!')

x is less than 15!

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [ ]:
print("Hello World!", end=" ")
print("I will print on the same line.")

Hello World! I will print on the same line.

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
# Scope

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  x = "super awesome"
  print("Python is " + x)

myfunc()

Python is super awesome

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
bytearray(5)

bytearray(b'\x00\x00\x00\x00\x00')

In [ ]:
memoryview(bytes(5))

In [ ]:
frozenset({"apple", "banana", "cherry"})

frozenset({'apple', 'banana', 'cherry'})

In [ ]:
dir(frozenset({"apple", "banana", "cherry"}))

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [ ]:
x = dict(name="Diwakar S", age=23, stream="Data")
print(x)

{'name': 'Diwakar S', 'age': 23, 'stream': 'Data'}

In [ ]:
x = 1
y = 35656222554887711342342342342342342343423434
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
# Generate Random Number

In [ ]:
import random

print(random.randrange(1, 10, 1))
print(random.randint(1, 10))

8
6

In [ ]:
import random

mylist = ["apple", "banana", "cherry"]

print(random.choices(mylist, weights = [10, 9, 1], k = 5))

['banana', 'banana', 'banana', 'apple', 'apple']

In [ ]:
print(random.random())  # Returns a random float number between 0 and 1
random.shuffle(mylist)
print(mylist) # Takes a sequence and returns the sequence in a random order

0.20527772031002134
['banana', 'apple', 'cherry']

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a) # line breaks are same as the text.

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
# Strings

# Like many other popular programming languages, strings in Python are arrays of unicode characters.

In [ ]:
a = "Hello, World!"
print(a[1])

e

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

True
No, 'expensive' is NOT present.

In [ ]:
# Slicing

# You can return a range of characters by using the slice syntax.
# Specify the start index and the end index, separated by a colon, to return a part of the string.

b = "Hello, World!"
print(b[2:5])
print(b[1:4:1]) # start, end - 1 , incr
print(b[:5])

llo
ell
Hello

In [ ]:
# Start from the end of the string
#    3210987654321
b = "Hello, World!"
print(b[-5:-2])
print(b[-5:-2])  # [-5 : -2 - 1 : 1]
print(b[-5:-2:-1])  # [-5 : -2 - 1 : -1] - "" because no valid range.

orl
orl

In [ ]:
# String Methods

a = " Hello, World! "
print(a.upper())
print(a.lower())
print(a.strip()) # returns "Hello, World!"
print(a.replace("H", "J"))
print(a.split(",")) # returns ['Hello', ' World!']

 HELLO, WORLD!
 hello, world!
Hello, World!
 Jello, World!
[' Hello', ' World! ']

In [ ]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

In [ ]:
# string concatenation

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
# string formatting.

age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [ ]:
# A placeholder can contain variables, operations, functions, and modifiers to format the value.
# A modifier is included by adding a colon : followed by a legal formatting type, like .2f

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 59.00 dollars
The price is 1180 dollars

In [ ]:
# String Methods 2

txt = "banana"
x = txt.center(20, "O")
print(x)

OOOOOOObananaOOOOOOO

In [ ]:
text = "python has a set of Built-in methods that you can use on strings. This is awesome"

In [ ]:
text.capitalize()

'Python has a set of built-in methods that you can use on strings. this is awesome'

In [ ]:
text.casefold()

'python has a set of built-in methods that you can use on strings. this is awesome'

In [ ]:
text.center(100, '*')

'*********python has a set of Built-in methods that you can use on strings. This is awesome**********'

In [ ]:
text.encode()

b'python has a set of Built-in methods that you can use on strings. This is awesome'

In [ ]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [ ]:
text.endswith('awesome')

True

In [ ]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o

In [ ]:
# If the value is not found, the find() method returns -1, but the index() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

In [ ]:
print("My name is {fname}, I'm {age}".format(fname = "John", age = 36))
print("My name is {0}, I'm {1}".format("John",36))
print("My name is {}, I'm {}".format("John",36))

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [ ]:
txt = "We have {:>8} chickens."
print(txt.format(49))

#Use "%" to convert the number into a percentage format:
txt = "You scored {:%}"
print(txt.format(0.25))

#Or, without any decimals:
txt = "You scored {:.0%}"
print(txt.format(0.25))

We have       49 chickens.
You scored 25.000000%
You scored 25%

In [ ]:
data = {"name": "Diwakar", "age": 23}

text = "My name is {name} and I am {age} years old"

print(text.format_map(data))

My name is Diwakar and I am 23 years old

In [ ]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²

print(a.isdigit())
print(b.isdigit())

True
True

In [ ]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

In [ ]:
txt = "Hello!\nAre you #1?" # here - \n is not printable

x = txt.isprintable()

print(x)

False

In [ ]:
# Join

In [ ]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [ ]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [ ]:
# maketrans

In [ ]:
txt = "Good night Sam!"
x = "mSa" # replace from
y = "eJo" # replace to
z = "odnght" # to remove
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [ ]:
# Partition
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

# If the specified value is not found, the partition() method returns a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string:
txt = "I could eat bananas all day"
x = txt.partition("apples")
print(x)

('I could eat ', 'bananas', ' all day')
('I could eat bananas all day', '', '')

In [ ]:
# rsplit

In [ ]:
txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)

print(x)

['apple, banana', 'cherry']

In [ ]:
# Splitlines - important - file handling

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [ ]:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

txt = "Good night Sam!"
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

Hello Pam!
Hi Joe!
G i Joe!

In [ ]:
# Replace - string.replace(oldvalue, newvalue, count)

txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three", 2) # Replace the two first occurrence of the word "one"
print(x)

three three was a race horse, two two was one too.

In [ ]:
# Boolean

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
x = "Hello"
y = 15

# (), [], {}, "", the number 0, and the value None

print(bool(x))
print(bool(y))
print(bool(-1))
print(bool(0))
print(bool(""))
print(bool([]))
print(bool('False'))

True
True
True
False
False
False
True

In [ ]:
# The Walrus Operator (:=)
# Python 3.8 introduced the := operator, known as the "walrus operator". It assigns values to variables as part of a larger expression:

print(x := 3)

# equals to
x = 3
print(x)

numbers = [1, 2, 3, 4, 5]

# method 1
count = len(numbers)
if count > 3:
    print(f"List has {count} elements")

# using walrus operator
if (count := len(numbers)) > 3:
    print(f"List has {count} elements")

3
3
List has 5 elements
List has 5 elements

In [ ]:
# Difference Between is and ==
# is - Checks if both variables point to the same object in memory
# == - Checks if the values of both variables are equal

x = [1, 2, 3]
y = [1, 2, 3]

print(x == y)
print(x is y)

True
False

In [ ]:
# Python Collections (Arrays)
# There are four collection data types in the Python programming language:

# List is a collection which is ordered and changeable. Allows duplicate members.
# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
# Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
# Dictionary is a collection which is ordered** and changeable. No duplicate members.